body {
    font-family: Arial, sans-serif;
    background-color: ear-gradient(to bottom, #4F94CD, #63B8FF);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    color: #333;
}

.media {
    text-align: center;
    margin: 20px 0;
}

.media audio,
.media video {
    margin: 10px 0;
}

.slider {
    position: relative;
    max-width: 150%;
    margin: 20px auto;
    overflow: hidden;
}

.slides {
    max-width: 50%; 
    margin: auto; 
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 20%;
    transition: opacity 1s ease-in-out;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #75afee;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #75afee;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input,
form select,
form textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="radio"] {
    margin-right: 10px;
}

form button {
    width: 100px;
    align-self: center;
    margin-top: 20px;
}

form button:hover {
    background-color: #75afee;
}
